html{
	background: #536475 url(../img/htmlBG.png) repeat-x;
}
#header{
}
	#header ul{
		float: right;
		overflow: hidden;
	}
		#header ul li{
			background: #5e7285;
			float: left;
			list-style:none;
			border: 1px solid #a3b5d4;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			padding:4px 8px 4px 8px;
		}
			#header ul li a{
				text-decoration: none;
				display:block;
				color:white;
			}
		#header ul li.selected, #header ul li:hover{
			background: #536475 url(../img/buttonBG.png) repeat-x;
			border: 1px solid #161e2a;
		}
#main{
}
	#main #line1{
	}
	#main #line1 #logo{
		position:relative;
		left:185px;
		top:10px;
		overflow:hidden;
	}
	#main #line1 ul li:first-child{
		margin-left:-16px;
	}
	#main #line1 ul li{
		font-weight:bold;
		font-size:80%;
		background: #536475;
		float:left;
		list-style:none;
		border:1px solid transparent;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		padding:12px;
		text-align:center;
	}
		#main #line1 ul li a{
			text-decoration: none;
			display:block;
			color:white;
		}	
			#main #line1 ul li img{
				display:block;
			}
		#main #line1 ul li.selected,#main #line1 ul li:hover{
			background:#475665 url(../img/currentAppBG.png) repeat-x;
			border: 1px solid #161e2a;
			padding:13px 11px 11px 13px;
		}
	#main #line2{
		position:relative;
	}
	#main #line2 #text{
		display:block;
		position:absolute;
		top:30px;
		left:30px;
		width:600px;
	}
		#main #line2 #text h1{
			font-size:50px;
			color:#d8dbde;
			font-weight:600;
			text-shadow:black 2px 2px 2px;
			border-bottom:1px solid black;
			margin-bottom:0PX;
		}
		#main #line2 #text h3{
			border-top: 1px solid #5b5c6c;
			line-height:150%;
			color:white;
			font-weight:300;
			text-shadow:black 1px 1px 1px;
		}
			#main #line2 #text h3 strong{
				color:#131828;
				text-shadow:black 1px 1px 2px;
			}
		#main #line3l #download{
			position:relative;
			margin-left:auto;
			margin-right:auto;
			margin-top:-60px;
			display:block;
		}
		#main #line3l h3{
			font-size:40px;
			color:#131828;
			text-shadow:#8d97a2 0px 1px 1px;
			margin-bottom:-10px;
		}
		#main #line3l h4{
			font-size:20px;
			color:#131828;
			text-shadow:#8d97a2 0px 1px 1px;
			margin-bottom:10px;
		}
		#main #line3l li,#main #line3l p{
			font-weight:bold;
			color:white;
			margin-top:10px;
			margin-bottom:10px;
		}
		#main #line3l #left li{
			list-style:none;
			float:left;
			margin-left:0px;
			margin-right:5px;
		}
		#main #line3l #right li{
			list-style-image:url("../img/bullet.png");
			margin-left:15px;
		}
		#main #line3r #pic{
			margin-top:-250px;
			display:block;
			margin-bottom:20px;
		}
		#main #line3r #talk{
			color:white;
		}
		#main #line3r #talk li{
			background: transparent url(../img/border2.png) repeat-x;
			list-style:none;
			margin-left:0px;
			font-size:14px;
			font-weight:600;
			padding-top:10px;
			padding-bottom:10px;
			font-style:italic;
		}
		#footwrap{
			background: #212b3f url(../img/footerBG.png) repeat-x;
		}
		#footwrap .quarter{
			color:white;
			width:220px;
			float:left;
			margin-top:25px;
			margin-left:5px;
			margin-right:15px;
			font-weight:bold;
			font-size:12px;
			line-height:130%;
		}
		#footwrap .quarter a{
			color:white;
			text-decoration:none;
		}
		#footwrap .quarter h4{
			color:#85a1bc;
			text-shadow:black 1px 1px 2px;
			border-bottom:1px solid black;
			padding-bottom:30px;
			margin-bottom:0PX;
		}
		#footwrap .quarter p:lang(first),#footwrap .quarter li:first-child{
			border-top: 1px solid #5b5c6c;
			margin-top:0px;
			padding-top:10px;
			display:block;
		}
		#footwrap .quarter li{
			list-style:none;
			margin-left:0px;
			border-top: 1px dashed white;
			padding-top:10px;
			padding-bottom:10px;
		}
			#footwrap .quarter li span{
				color: #85a1bc;
				display:block;
				line-height:200%
			}
		#footwrap .quarter .button{
			border-top: 1px solid #a3b5d4;
			background: #5e7285;
			height:25;
			list-style:none;
			border: 1px solid #a3b5d4;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			padding: 6px 9px;
			text-shadow:black 0px 1px 2px;
		}
			#footwrap .quarter .button:hover{
				background: #536475;
			}
#bottomwrap {
	background: url(../img/bottomBG.png) repeat-x;
}
#bottom {
	overflow: hidden;
	padding-top: 23px;
	padding-bottom: 30px;
}
	#bottomwrap p, #bottomwrap p a {
		color: #212b3f;
		font-weight: bold;
			display: inline;
	}
		#bottom ul {
			float: right;
			overflow: hidden;
		}
			#bottom li {
				list-style: none;
				float: left;
				font-weight: bold;
			}
				#bottom li.selected a, #bottom a:hover {
					color: white;
					text-decoration: underline;
				}
				#bottom ul li a {
					color: #97b8d8;
					text-decoration: none;
				}